/* RESET RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

li, ul, menu {
    list-style: none;
}


/* LAYOUT RULES */

body {
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

.main-content {
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    flex-basis: calc(100% / 4);
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-8 {
    flex-basis: calc(100% / 1.5);
}

.col-12 {
    flex-basis: 100%;
}

/* HEADER  */

.header-logo {
    text-align: left;
}

.header-menu {
    text-align: center;
}

.header-menu li {
    display: inline-block;
}

.header-login {
    text-align: right;
}


/* DEBUG RULES */

.debug .page-header,
.debug .page-footer {
    min-height: 50px;
    padding: 10px;
    background-color: cyan;
}

/* .debug .main-content {
    padding: 10px;
    background-color: magenta;
} */

/* .debug .row {
   border: 1px dotted rgb(255, 255, 255);
} */

.debug [class^='col-'] {
    padding: 10px;
    background-color: darkcyan;
    border: 1px dotted rgb(255, 255, 255);    
}

/* DEBUG PAGE HERO */

.debug .page-hero {
    background-color: blue;
}

.debug .page-hero .row {
    padding-block: 20px;
    justify-content: center;
}

.debug .hero-image {
    background-color: blueviolet;
    height: 250px;
}

/* DEBUG PAGE CONTENT A  */

.debug .page-content-a {
    background-color: rgb(241, 241, 241);
}

.debug .page-content-a .row {
    padding-block: 20px;
    justify-content: center;
}

.debug .big-content,
.debug .small-content {
    height: 250px;
}

.debug .page-content-a .big-content {
    background-color: aquamarine;
}

.debug .page-content-a .small-content {
    background-color: bisque;
}

/* DEBUG PAGE CONTENT A INVERTED  */

.debug .page-content-a.inverted {
    background-color: rgb(143, 170, 188);
}

.debug .page-content-a.inverted .big-content {
    order: 1;
}

/* PAGE ANTIHERO */

.debug .page-antihero {
    background-color: rgb(143, 170, 188);
}

.debug .page-antihero .row {
    padding-block: 20px;
    justify-content: center;
}

.debug .antihero-image {
    background-color: rgb(32, 100, 155);
    height: 400px;
}